[
  {
    "Description": "system crash",
    "Enable": false,
    "filters": [
      { "keyword": "crash", "Enable": true },
      { "keyword": "failed", "Enable": true },
      { "keyword": "exception", "Enable": true },
      { "keyword": "fatal", "Enable": true }
    ]
  },
  {
    "Description": "Wildcard",
    "Enable": false,
    "filters": [
      { "keyword": "crash*", "Enable": true },
      { "keyword": "*exception", "Enable": true },
      { "keyword": "*fatal*", "Enable": true },
      { "keyword": "CAR.AUDIO.*", "Enable": true }
    ]
  }
]